<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Welcome to IN-CORE</title>
    
</head>
<body style="font-family: Helvetica, sans-serif; font-size: 16px; line-height: 1.5; background-color: #f4f5f6; margin: 0; padding: 0; color: #333;">
    <div class="container" style="max-width: 600px; margin: 24px auto; padding: 20px; background-color: #ffffff; border: 1px solid #eaebed; border-radius: 8px;">
        <div class="content">
            <img src="https://tools.in-core.org/doc/incore/_static/resilience-logo.png" alt="IN-CORE" style="width: 50%; height: auto; display: block; margin: 0 auto 16px;">
            <p style="margin: 0 0 16px;">Hi, {{ name }},</p>
            <p style="margin: 0 0 16px;">Thank you for signing up for IN-CORE and welcome to the community! We are excited to see how you utilize IN-CORE and contribute to it.</p>
            <p style="margin: 0 0 16px;">To get you up and running as quickly as possible, here are three simple steps we recommend to get you started:</p>
            <ol>
                <li>Make sure you can <a href="https://tools.in-core.org/login" style="color: #0867ec; text-decoration: underline;">log into your IN-CORE account</a>.
                    <p style="margin: 0 0 16px;">Your username: {{ username }}</p>
                </li>
                <li><a href="https://tools.in-core.org/doc/incore/introduction.html" style="color: #0867ec; text-decoration: underline;">Review the IN-CORE manual</a> that’ll walk you through the basics of IN-CORE step-by-step.</li>
                <li><a href="https://tools.in-core.org/doc/incore/tutorials.html" style="color: #0867ec; text-decoration: underline;">Explore the tutorials and tips</a> for a more in-depth look into IN-CORE.</li>
            </ol>
            <hr>
            <p style="margin: 0 0 16px;"><b>Need assistance?</b></p>
            <p style="margin: 0 0 16px;">As questions arise, there are three ways to get assistance:</p>
            <ul>
                <li><a href="https://tools.in-core.org/doc/incore/faq.html" style="color: #0867ec; text-decoration: underline;">Review our FAQs</a> for the most common questions.</li>
                <li>Join the <a href="https://join.slack.com/t/in-core/shared_invite/zt-7z1z1z1z-7Z1z1z1z" style="color: #0867ec; text-decoration: underline;">IN-CORE Slack channel</a></li>
                <li>Contact our dev team by <a href="mailto:incore-dev@lists.illinois.edu" style="color: #0867ec; text-decoration: underline;">email</a></li>
            </ul>
            <p style="margin: 0 0 16px;">We are here to help you succeed with IN-CORE. If you have any questions, please don’t hesitate to reach out to us.</p>
            <p style="margin: 0 0 16px;"><i>- IN-CORE Dev Team</i></p>
        </div>
    </div>
</body>
</html>
